In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import re
import nltk

In [3]:
df=pd.read_csv("2010-capitalbikeshare-tripdata.csv")
df

,Duration,Start date,End date,Start station number,Start station,End station number,End station,Bike number,Member type
0,1012,20-09-2010 11:27,20-09-2010 11:43,31208,M St & New Jersey Ave SE,31108,4th & M St SW,W00742,Member
1,61,20-09-2010 11:41,20-09-2010 11:42,31209,1st & N St SE,31209,1st & N St SE,W00032,Member
2,2690,20-09-2010 12:05,20-09-2010 12:50,31600,5th & K St NW,31100,19th St & Pennsylvania Ave NW,W00993,Member
3,1406,20-09-2010 12:06,20-09-2010 12:29,31600,5th & K St NW,31602,Park Rd & Holmead Pl NW,W00344,Member
4,1413,20-09-2010 12:10,20-09-2010 12:34,31100,19th St & Pennsylvania Ave NW,31201,15th & P St NW,W00883,Member
...,...,...,...,...,...,...,...,...,...
115592,2179,31-12-2010 23:20,31-12-2010 23:56,31110,20th St & Florida Ave NW,31623,Columbus Circle / Union Station,W00859,Casual
115593,953,31-12-2010 23:21,31-12-2010 23:37,31106,Calvert & Biltmore St NW,31401,14th St & Spring Rd NW,W00914,Member
115594,737,31-12-2010 23:27,31-12-2010 23:39,31602,Park Rd & Holmead Pl NW,31401,14th St & Spring Rd NW,W00973,Member
115595,514,31-12-2010 23:37,31-12-2010 23:46,31111,10th & U St NW,31202,14th & R St NW,W01119,Member
115596,51962,31-12-2010 23:49,01-01-2011 14:15,31111,10th & U St NW,31111,10th & U St NW,W00771,Casual

In [4]:
df.columns

Index(['Duration', 'Start date', 'End date', 'Start station number',
       'Start station', 'End station number', 'End station', 'Bike number',
       'Member type'],
      dtype='object')

In [5]:
df.describe()

            Duration  Start station number  End station number
count  115597.000000         115597.000000       115597.000000
mean     1254.649956          31266.213431        31268.042250
std      2914.317998            187.645048          186.194316
min        60.000000          31000.000000        31000.000000
25%       403.000000          31110.000000        31111.000000
50%       665.000000          31213.000000        31214.000000
75%      1120.000000          31301.000000        31238.000000
max     85644.000000          31805.000000        31805.000000

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 115597 entries, 0 to 115596
Data columns (total 9 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   Duration              115597 non-null  int64
 1   Start date            115597 non-null  object
 2   End date              115597 non-null  object
 3   Start station number  115597 non-null  int64
 4   Start station         115597 non-null  object
 5   End station number    115597 non-null  int64
 6   End station           115597 non-null  object
 7   Bike number           115597 non-null  object
 8   Member type           115597 non-null  object
dtypes: int64(3), object(6)
memory usage: 7.9+ MB

In [7]:
df['Start station'].unique()

array(['M St & New Jersey Ave SE', '1st & N St  SE', '5th & K St NW',
       '19th St & Pennsylvania Ave NW', '7th & T St NW', '10th & U St NW',
       'Minnesota Ave Metro/DOES', '4th & W St NE', '1st & M St NE',
       'Park Rd & Holmead Pl NW', '14th & Harvard St NW',
       '14th & V St NW', '16th & Harvard St NW', '19th & E Street NW',
       '20th & Crystal Dr', '21st & I St NW', '15th & P St NW',
       '27th & Crystal Dr', 'Calvert & Biltmore St NW',
       'Massachusetts Ave & Dupont Circle NW',
       'Adams Mill & Columbia Rd NW', '23rd & Crystal Dr',
       'Eads St & 15th St S', '14th & R St NW', '21st & M St NW',
       '15th & Crystal Dr', 'Good Hope Rd & MLK Ave SE', '4th & M St SW',
       '14th & Rhode Island Ave NW', '20th & E St NW', '18th & Eads St.',
       '20th St & Florida Ave NW', '14th St & Spring Rd NW',
       'Georgia Ave and Fairmont St NW',
       'Pentagon City Metro / 12th & S Hayes St',
       'Georgia & New Hampshire Ave NW', 'Lamont & Mt Pleasant NW',
       'S Glebe & Potomac Ave', 'Crystal City Metro / 18th & Bell St',
       '26th & S Clark St', 'S Joyce & Army Navy Dr',
       'Aurora Hills Community Ctr/18th & Hayes St',
       '12th & Army Navy Dr', 'John McCormack Dr & Michigan Ave NE',
       '17th & K St NW', '3rd & H St NW', 'Anacostia Metro',
       '3rd & D St SE', '14th & D St SE', 'Potomac & Pennsylvania Ave SE',
       'Eads & 22nd St S', '19th & East Capitol St SE',
       'Florida Ave & R St NW', '17th & Corcoran St NW',
       '8th & Eye St SE / Barracks Row', 'Van Ness Metro / UDC',
       'Wisconsin Ave & Newark St NW', 'Randle Circle & Minnesota Ave SE',
       '14th St Heights / 14th & Crittenden St NW',
       'Eastern Market / 7th & North Carolina Ave SE',
       '14th St & New York Ave NW', 'Ward Circle / American University',
       'Nannie Helen Burroughs & Minnesota Ave NE',
       'USDA / 12th & Independence Ave SW',
       'Georgetown Harbor / 30th St NW', "L'Enfant Plaza / 7th & C St SW",
       'Eastern Market Metro / Pennsylvania Ave & 7th St SE',
       'Kennedy Center', '10th St & Constitution Ave NW',
       '12th & Newton St NE', '18th & M St NW', '8th & H St NW',
       '11th & Kenyon St NW', '5th & F St NW',
       'New York Ave & 15th St NW', '13th & H St NE',
       'Convention Center / 7th & M St NW',
       'US Dept of State / Virginia Ave & 21st St NW',
       'Connecticut Ave & Newark St NW / Cleveland Park',
       'Good Hope & Naylor Rd SE', 'Maine Ave & 7th St SW',
       'Harvard St & Adams Mill Rd NW', '3rd & H St NE',
       'Eckington Pl & Q St NE', 'New Hampshire Ave & T St NW',
       '34th St & Wisconsin Ave NW',
       'Tenleytown / Wisconsin Ave & Albemarle St NW',
       '10th & Monroe St NE', '19th St & Constitution Ave NW',
       'Pennsylvania & Minnesota Ave SE', '13th St & New York Ave NW',
       '19th & L St NW', 'C & O Canal & Wisconsin Ave NW',
       'Anacostia Library', '37th & O St NW / Georgetown University',
       'Lincoln Park / 13th & East Capitol St NE ',
       'Columbus Circle / Union Station', 'North Capitol St & F St NW',
       '13th & D St NE', '11th & M St NW',
       'Bladensburg Rd & Benning Rd NE', '25th St & Pennsylvania Ave NW',
       '4th & East Capitol St NE', 'Benning Branch Library',
       '36th & Calvert St NW / Glover Park', '14th & G St NW'],
      dtype=object)

In [11]:
df['Start Station Lower']=df['Start station'].str.lower()

In [9]:
df['End Station Lower']=df['End station'].str.lower()

In [12]:
df.head()

,Duration,Start date,End date,Start station number,Start station,End station number,End station,Bike number,Member type,End Station Lower,Start Station Lower
0,1012,20-09-2010 11:27,20-09-2010 11:43,31208,M St & New Jersey Ave SE,31108,4th & M St SW,W00742,Member,4th & m st sw,m st & new jersey ave se
1,61,20-09-2010 11:41,20-09-2010 11:42,31209,1st & N St SE,31209,1st & N St SE,W00032,Member,1st & n st se,1st & n st se
2,2690,20-09-2010 12:05,20-09-2010 12:50,31600,5th & K St NW,31100,19th St & Pennsylvania Ave NW,W00993,Member,19th st & pennsylvania ave nw,5th & k st nw
3,1406,20-09-2010 12:06,20-09-2010 12:29,31600,5th & K St NW,31602,Park Rd & Holmead Pl NW,W00344,Member,park rd & holmead pl nw,5th & k st nw
4,1413,20-09-2010 12:10,20-09-2010 12:34,31100,19th St & Pennsylvania Ave NW,31201,15th & P St NW,W00883,Member,15th & p st nw,19th st & pennsylvania ave nw

In [13]:
df['Member type'].unique()

array(['Member', 'Casual', 'Unknown'], dtype=object)